RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
*.log
*.jou
Vitis/*_workspace/
Vitis/.*/
Vitis/.*
Vitis/boot/
docs/build/
bootimages/
PetaLinux/offline.txt
# UPDATER START
Vivado/vck190_fmcp1/
PetaLinux/vck190_fmcp1/
Vivado/zcu111/
PetaLinux/zcu111/
Vivado/zcu208/
PetaLinux/zcu208/
Vivado/zcu216/
PetaLinux/zcu216/
Vivado/kcu116/
PetaLinux/kcu116/
Vivado/zcu102_hpc0/
PetaLinux/zcu102_hpc0/
Vivado/zcu106_hpc0/
PetaLinux/zcu106_hpc0/
Vivado/zcu111_ss/
PetaLinux/zcu111_ss/
Vivado/zcu208_ss/
PetaLinux/zcu208_ss/
Vivado/zcu216_ss/
PetaLinux/zcu216_ss/
Vivado/kcu116_ss/
PetaLinux/kcu116_ss/
# UPDATER END
dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
